{% extends "index.html" %}
    {% block content %}
        <h2>
            {{tag.name}}
        </h2>
        <br>
        <br>
        <div class='buttons-container'>
            <form class='form-button' action='/tags/{{tag.id}}/edit' method='GET'>
                <button class='button'>Edit</button>
            </form>
            <form class='form-button' action='/tags/{{tag.id}}/delete' method='POST'>
                <button class='button'>Delete</button>
            </form>
            <form class='form-button' action='/tags' method='GET'>
                <button class='button'>Cancel</button>
            </form>
        </div>
    {% endblock %}