{% extends "index.html" %}
    {% block content %}
        <h2>Edit Post</h2>
        <form method='POST' action='/posts/{{post.id}}/edit' class='form'>
            <label>Title:</label>
                <input type='text' name="edit_post_title" value="{{post.title}}">
            <br>
            <br>
            <label>Content:</label>
                <input type='text' name='edit_post_content' value="{{post.content}}">
            <div class="edit-post-tags">
                {% for tag in tags %}
                <div>
                    <input class="tags-select" type="checkbox" value="{{tag.id}}" id="tag_{{tag.id}}"
                        {% if tag in post.tags %}checked{% endif %} name="tags">
                    <label class="edit-post-tags" for="tag_{{tag.id}}">{{ tag.name }}</label>
                </div>
                {% endfor %}
            </div>
            <div class='buttons-container'>
                <button type='submit' class='button'>Save</button>
                <button method='GET' action='/users/post.user.id' class='button'>Cancel</button>
            </div>
        </form>
    {% endblock %}