{% extends "index.html" %}
    {% block content %}
        <h2>Add Post for {{user.first_name}}</h2>
        <form class='form' method='POST'>
            <label>Title:</label>
                <input type='text' name='title' class='post-input' id ="title" placeholder="Title">
            <br>
            <br>
            <label>Content:</label>
                <input type='text' name='content' class='post-input' id ="content" placeholder="Content"></textarea>
                <br>
                <br>
                <label>Tags:</label>
                <br>
                <br>
                <div id='tags-form' class="form-check">
                    {% for tag in tags %}
                    <div id='tag-form'>
                        <input class="tag-add"
                             type="checkbox"
                             value="{{tag.id}}"
                             id="tag_{{tag.id}}"
                             name="tags">
                        <label class="tag-form-label" for="tag_{{ tag.id }}">
                        {{ tag.name }}
                        </label>
                    </div>
                    {% endfor %}
                  </div>
                <br>
                <br>
            <div class='buttons-container'>
                <button button='button' type='submit' class='button'>Add</button>
            </div>
        </form>
        <form method='GET' action='/users/{{user.id}}'>
            <div class='buttons-container'>
                <button class='button'>Cancel</button>
            </div>
        </form>
    {% endblock %}