{% extends "index.html" %}
    {% block content %}
        <div id='user-page'>
            <img id='user-image' src={{user.image_url}}>
            <h2 id='user-name'>
                {{user.first_name}} {{user.last_name}}
            </h2>
        </div>
        <div id='user-buttons' class='buttons-container'>
            <a href='/users/{{user.id}}/edit'><button class='button'>Edit</button></a>
            <form action='/users/{{user.id}}/delete' method='POST' >
                <button class='button'>Delete</button>
            </form>
            <a href='/users/{{user.id}}/posts/new'><button class='button'>Add Post</button></a>
        </div>
        <p>
            <h3>Posts</h3>
            <ul>
                {% for post in user.posts %}
                    <li>
                        <a href="/posts/{{post.id}}">{{post.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </p>
    {% endblock %}