{% extends "users/index.html" %}
    {% block content %}
        <h2>
            {{user.first_name, user.last_name}}
        </h2>
        <img src={{user.image_url}}>
        <form action='/users/{{user.id}}/edit' method='GET'>
            <button id='edit-button'>Edit</button>
        </form>
        <form action='/users/{{user.id}}/delete' method='POST'>
            <button id='delete-button'>Delete</button>
        </form>
        <p>
            <h3>Posts</h3>
            <ul>
                {% for post in user.posts %}
                    <li>
                        <a href="/posts/{{post.id}}">{{post.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <form action='/users/{{user.id}}/posts/new' method='GET'>
                <button id='add-post-button'>Add Post</button>
            </form>
        </p>
    {% endblock %}